[user]
	name = Eumaios1212
	email = eumaios1212@protonmail.com
	signingkey = 695AA4A0F1FFB55F


[core]
    fileMode = false
[gpg]
	format = openpgp
	program = gpg
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /home/eumaios/.config/git/allowed_signers
